<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learn Programming Language!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IT Taling", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ar-auto">
              
                    <li>@Html.ActionLink("Members", "Index", "Member")</li>
                    <li>@Html.ActionLink("Lectures", "Index", "Lecture")</li>
                    <li>@Html.ActionLink("C", "LectureBoardList", "Lecture", new { LectureLanguage = "C" }, null)</li>
                    <li>@Html.ActionLink("C++", "LectureBoardList", "Lecture", new { LectureLanguage = "C++" }, null)</li>
                    <li>@Html.ActionLink("C#", "LectureBoardList", "Lecture", new { LectureLanguage = "C#" }, null)</li>
                    <li>@Html.ActionLink("JAVA", "LectureBoardList", "Lecture", new { LectureLanguage = "JAVA" }, null)</li>
                    <li>@Html.ActionLink("HTML", "LectureBoardList", "Lecture", new { LectureLanguage = "HTML" }, null)</li>
                    <li>@Html.ActionLink("CSS", "LectureBoardList", "Lecture", new { LectureLanguage = "CSS" }, null)</li>
                    <li>@Html.ActionLink("JAVASCRIPT", "LectureBoardList", "Lecture", new { lectureLanguage = "JAVASCRIPT" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["MemberID"] == null)
                    {
                        <li>@Html.ActionLink("Sign up", "Create", "Member", new { }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Sign in", "SignIn", "Member", new { }, new { @class = "navbar-brand" })</li>
                    }

                    else
                    {
                        <li>@Html.ActionLink((string)(Session["MemberEmail"]), "Edit", "Member", new { }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Sign out", "SignOut", "Member", new { }, new { @class = "navbar-brand" })</li>
                    }
                    @if ((string)(Session["MemberType"]) == ("일반"))
                    {
                        <li>@Html.ActionLink("Register as Tutor", "TutorRegister", "Member", new { id = Session["MemberID"] }, new { @class = "navbar-brand" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-xlarge">
            <div class="w3-section">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
            <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
