@model ITClassWeb.Models.Member

@{
    ViewBag.Title = "Verify";
}

<div>
    <h4>Member</h4>
    <h2>Verify</h2>
    @ViewBag.Message
    @using (Html.BeginForm("Verify", "Member"))
    {
        @Html.TextBox(name: "id");
        @Html.Hidden(name: "MemberID")

        <input type="submit" value="FIND">
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberName)

            @Html.DisplayNameFor(model => model.MemberID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberPhone)
        </dd>
    </dl>
</div>