@model ITClassWeb.Models.Lecture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureImageName)
            <img class="img=thumbnail" width="150" height="150"
                 src="@Url.Action("GetImage", "Lecture", new { Model.LectureID })" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutorIntroduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutorIntroduce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureIntroduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureIntroduce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturePeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturePeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturePlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturePlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureMaxperson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureMaxperson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureApplyDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureApplyDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturePlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleTime)
        </dd>
    </dl>
</div>

<div>
   @Html.Action("ShowReviewInsert","review", new { id = @ViewBag.LectureID })
</div>



<p> 
    @Html.ActionLink("Edit", "Edit", new { id = Model.LectureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
